*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    background-color: black;
    color:white;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height:180px;
    width: 180px;
    object-fit:cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    font-size:2rem;
    gap:3rem;
}
#user-score,#comp-score{
    font-size:4rem;
   
}
.msg-container{
    margin-top:4rem;
}
#msg{
   
    background-color: #081b31;
    color:white;
    font-size:2rem;
    display:inline;
    padding:10px;
    border-radius:1rem; 
}
